.landing{
    height: 100%;
    width: 100vw;
    background-color: pink;
}

.v1{
    height: 50vh;
    width: 50vw;
    object-fit: cover;
    transform: rotateZ(-15deg);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    /* margin: 10px; */
    /* transform: rotateZ(-30deg); */
    /* border-radius: 50%; */
}