*,body{
    margin: 0;
    padding: 0;
}
/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgb(85, 14, 29);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: linear-gradient(rgb(156, 39, 150), rgb(237, 129, 232), rgb(156, 39, 150));
  }